{% extends "base.html" %}
{% block body %}
<div style="width:700px;float:left;height:500px;">
    <div><h1 style="float: left;width: 128px;height: 40px;">民事诉讼</h1></div>
    <div style="float: left;">
        <td>人民法院受理的民事案件范围为公民之间、法人之间、其他组织之间以及他们相互之间因财产关系和人身关系提起的民事诉讼。起诉必须符合下列条件：</td>
        <br>
        <td>（一）原告是与本案有直接利害关系的公民、法人和其他组织；</td>
        <br>
        <td>（二）有明确的被告；</td>
        <br>
        <td>（三）有具体的诉讼请求和事实、理由；</td>
        <br>
        <td>（四）属于人民法院受理民事诉讼的范围和受诉人民法院管辖。</td>
        <br>
        <td>&nbsp;</td>
        <br>
        <td>当事人向法院提起民事诉讼，须提交下列资料：</td>
        <br>
        <td>1. 起诉状正本一份，并按对方当事人的人数提交副本；</td>
        <br>
        <td>2. 原告为自然人的，应提交身份证复印件；原告为法人或其他组织的，应提交营业执照、法定代表人身份证明书或负责人身份证明书；如有委托代理人的，应提交授权委托书及委托代理人的身份证明资料；</td>
        <br>
        <td>3. 被告为自然人的，原告应提交被告的身份信息资料；被告为法人或其他组织的，原告应提交被告的工商登记资料或者组织机构代码证；</td>
        <br>
        <td>4. 按起诉状份数提供与案件相关的证据资料复印件；</td>
        <br>
        <td>5. 向法院提交的资料，一律使用A4纸打印或者复印；</td>
        <br>
        <td>6. 申请财产保全的，应向法院提供被申请人可供保全的财产线索，并提供担保；</td>
        <br>
        <td>7. 起诉时需按《诉讼费用交纳办法》的规定向法院预交诉讼费用,应将交费凭证交到立案庭，立案庭将案件录入流程。</td>
        <br>
        <td>8. 办妥以上手续后，等候通知开庭，起诉人可通过立案大厅触摸屏查询案件所在业务庭及承办人，具体情况可与业务庭联系。</td>
        <br>
    </div>
</div>
<div style="border-left:7px solid #ADD8E6;float:left;height: 10px;"></div>
<div style="width:760px;float:left;height:500px;">
    <div><h1 style="float: left;width: 128px;height: 40px;">刑事诉讼</h1></div>
    <div style="float: left;">
        <td>刑事诉讼主要包括五个阶段：立案、侦查、起诉、审判和执行：</td>
        <br>
        <td>
            （一）立案指公安机关、人民检察院、人民法院对报案、控告、举报和犯罪人的自首等方面的材料进行审查，认为符合立案条件的，即有犯罪事实发生，对行为人依法需要追究刑事责任时，应当作出立案的决定;认为不符合立案条件，即没有犯罪事实发生，或者不需要追究刑事责任时，应当作出不立案的决定;
        </td>
        <br>
        <td>（二）侦查指由特定的司法机关(检察院)或者行政机关(公安机关)为收集、查明、证实犯罪和缉获犯罪人而依法采取的专门调查工作和有关的强制性措施;</td>
        <br>
        <td>（三）起诉有两种，包括公诉和自诉;</td>
        <br>
        <td>
            1.提起公诉是指行使国家公诉权的检察机关，对公安机关侦查终结移送起诉的案件或者对自行侦查终结的案件，经过全面审查，确认侦查阶段所收集的证据已经确实、充分，犯罪嫌疑人的行为已经构成犯罪，依法应当追究刑事责任而提请人民法院审判的一项诉讼活动。
        </td>
        <br>
        <td>
            2.提起自诉是指由被害人或其法定代理人直接向人民法院提起控诉并由人民法院直接受理的案件。根据《刑事诉讼法》的规定，自诉案件包括下列案件：（1）告诉才处理的案件；（2）被害人有证据证明的轻微刑事案件；（3）被害人有证据证明对被告人侵犯自己人身、财产权利的行为应当依法追究刑事责任，而公安机关或者人民检察院不予追究被告人刑事责任的案件。
        </td>
        <br>
        <td>（四）审判是指人民法院在控、辩双方及其他诉讼参与人参加下，依照法定的权限和程序，对于依法向其提出诉讼请求的刑事案件进行审理和裁判的诉讼活动;</td>
        <br>
        <td>（五）执行则指刑事执行机关为了实施已经发生法律效力的判决和裁定所确定的内容而进行的活动，在我国，刑事执行的主体主要是人民法院、公安机关和监狱等。</td>
        <br>
    </div>
</div>
{% endblock %}