{% extends "base.html" %}
{% block body %}
<div style="width:700px;float:left;height:560px;">
    <div><h1 style="float: left;width: 200px;height: 30px;">劳动者的权利</h1></div>
    <div style="float: left;">
        <td>（一）平等就业的权利。《劳动法》规定，凡具有劳动能力的公民，都有平等就业的权利，即劳动者拥有劳动就业权。劳动就业权是有劳动能力的公民获得参加社会劳动的切实保证按劳取酬的权利。</td>
        <br>
        <td>（二）选择职业的权利。《劳动法》规定，劳动者有权根据自己的意愿、自身的素质、能力、志趣和爱好，以及市场信息等选择适合自己才能、爱好的职业，即劳动者拥有自由选择职业的权利。</td>
        <br>
        <td>（三）取得劳动薪酬的权利。《劳动法》规定，劳动者有权依照劳动合同及国家有关法律取得劳动薪酬。获取劳动薪酬的权利是劳动者持续行使劳动权不可少的物质保证。</td>
        <br>
        <td>（四）获得劳动安全卫生保护的权利。《劳动法》规定，劳动者有获得劳动安全卫生保护的权利。这是对劳动者在劳动中的生命安全和身体健康，以及享受劳动权利的最直接的保护。</td>
        <br>
        <td>（五）享有休息的权利。我国宪法规定，劳动者有休息的权利。为此，国家规定了职工的工作时间和休假制度，并发展劳动者休息和休养的设施。</td>
        <br>
        <td>
            （六）享有社会保险的福利的权利。为了给劳动者患疾病时和年老时提供保障，我国《劳动法》规定，劳动者享有社会保险和福利的权利，即劳动者享有包括养老保险、医疗保险、工伤保险、失业保险、生育保险等在内的劳动保险和福利。社会保险和福利是劳动力再生产的一种客观需要。
        </td>
        <br>
        <td>（七）接受职业技能培训的权利。我国宪法规定，公民有教育的权利和义务。所谓受教育既包括受普通教育，也包括受职业教育。</td>
        <br>
        <td>（八）提请劳动争议处理的权利。《劳动法》规定，当劳动者与用人单位发生劳动争议时，劳动者享有提请劳动争议处理的权利，即劳动者享有依法向劳动争议调解委员会、劳动仲裁委员会和法院申请调解、仲裁、提起诉讼的权利。</td>
        <br>
        <td>
            （九）法律规定的其他权利。法律规定的其他权利包括：依法法律规定的其他权利。法律规定的其他权利包括：依法参加和组织工会的权利，依法享有参与民主管理的权利，劳动者依法享有参加社会义务劳动的权利，从事科学研究、技术革新、发明创造的权利，依法解除劳动合同的权利，对用人单位管理人员违章指挥、强令冒险作业有拒绝执行的权利，对危害生命安全和身体健康的行为有权提出批评、举报和控告的权利，对违反劳动法的行为进行监督的权利等。
        </td>
        <br>
    </div>
</div>
<div style="border-left:1px solid #ADD8E6;float:left;height: 10px;"></div>
<div style="width:700px;float:left;height:600px;right:700px;">
    <div><h1 style="float: left;width: 160px;height: 30px;margin-right: 650px">劳动法案例</h1></div>
    <div style="float: left;font-weight: 700;">
        {% for law in results %}
            {% for msg in law[1:4] %}
            <ul>
                {% if '.html' in msg %}
                <p style="margin-right:3px;font-size:13.5px"><a href="{{ msg }}" target="_blank" style="width:500px">{{ msg }}</a></p>
                {% else %}
                    <td>{{ msg | safe }}</td>
                <br>
                {% endif %}
            </ul>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}