{% extends "base.html" %}
{% block script %}
<script type="text/javascript" src="/static/js/relay.js"></script>
{% endblock %}
{% block body %}
<div class="leave-area" id="test">
    <div class="consultMain">
        <h1>回复留言</h1>
        <div class="newsMsgList_con" id="newsMsgList_cons">
            <p id="temp_title">{{ temp.title }}</p>
            <p id="temp_content">{{ temp.content }}</p>
        </div>
        <div class="servicePageLine clearFix" style="margin: 0px auto 0;padding:0 20px;text-align: left;">
            <div class="turnPages" style="width: 700px;">
                <label style="float: left">
                    <span>精选留言</span>
                </label>
            </div>
        </div>
        <div class="relay_consult" style="float:left;margin-top: 30px;" id="relay_consult">
            {% for res in temp.relay_msg %}
            <ul>
                <li style="float:left;width:550px;margin-left:0px;">{{ res }}</li>
            </ul>
<!--            <p id="relay_msg" style="margin-top: 1px;">{{ res }}</p><br />-->
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}