{% extends "base.html" %}
{% block body %}
<div style="width:800px;float:left;height:570px;">
    <div><h1 style="float: left;width: 230px;height: 30px;">道路交通安全法</h1></div>
    <div style="float: left;">
        <td>
            （一）道路交通安全法，对于机动车与非机动车驾驶人、行人之间发生交通事故的，法律规定由机动车一方承担责任。法律还规定了机动车一方唯一的免责条件：交通事故的损失是由非机动车驾驶人、行人故意造成的，机动车一方不承担责任。
        </td>
        <br>
        <td>
            （二）法律规定，机动车行经没有交通信号的道路时，遇行人横过道路，应当避让。学校、幼儿园、医院、养老院门前的道路没有行人过街设施的，应当施划人行横道线，设置提示标志。城市主要道路的人行道，应当按照规划设置盲道。盲道的设置应当符合国家标准。
        </td>
        <br>
        <td>（三）法律明确规定，行人、乘车人、非机动车驾驶人违反道路交通安全法律、法规关于道路通行规定的，处警告或者五元以上五十元以下罚款;非机动车驾驶人拒绝接受罚款处罚的，可以扣留其非机动车。</td>
        <br>
        <td>（四）道路交通安全法明确规定，任何单位不得给公安机关交通管理部门下达或者变相下达罚款指标，公安机关交通管理部门也不得以罚款数额作为考核交通警察的标准。</td>
        <br>
        <td>（五）交通安全法规定，在道路上发生交通事故，未造成人身伤亡，当事人对事实及成因无争议的，可以即行撤离现场，恢复交通，自行协商处理损害赔偿事宜。</td>
        <br>
        <td>
            （六）法律规定，在道路上发生交通事故，车辆驾驶人应当立即停车，保护现场;造成人身伤亡的，车辆驾驶人应当立即抢救受伤人员，并迅速报告执勤的交通警察或者公安机关交通管理部门。因抢救受伤人员变动现场的，应当标明位置。乘车人、过往车辆驾驶人、过往行人应当予以协助。
        </td>
        <br>
        <td>
            （七）法律规定，公安机关交通管理部门接到交通事故报警后，应当立即派交通警察赶赴现场，先组织抢救受伤人员，并采取措施，尽快恢复交通。公安机关交通管理部门应当根据事故现场勘验、检查、调查情况和有关的检验、鉴定结论，及时制作交通事故认定书，作为处理交通事故的证据。
        </td>
        <br>
        <td>
            （八）法律规定，对交通事故损害赔偿的争议，当事人可以请求公安机关交通管理部门调解，也可以直接向人民法院提起民事诉讼。经公安机关交通管理部门调解，当事人未达成协议或者调解书生效后不履行的，当事人可以向人民法院提起民事诉讼。
        </td>
        <br>
        <td>（九）法律规定，机动车发生交通事故造成人身伤亡、财产损失的，由保险公司在机动车第三者责任强制保险责任限额范围内予以赔偿。超过责任限额的部分再由当事人承担赔偿责任。</td>
        <br>
        <td>（十）道路交通安全法严禁酒后驾车，加大了对饮酒、醉酒后驾车的法律处罚力度：拘留扣驾照罚款三管齐下。</td>
    </div>
</div>
<div style="border-left:1px solid #ADD8E6;float:left;height: 10px;"></div>
<div style="width:760px;float:left;height:600px;">
    <div><h1 style="float: left;width: 300px;height: 30px;margin-right: 650px">道路交通安全法案例</h1></div>
    <div style="float: left;font-weight: 700;">
        {% for law in results %}
        {% for msg in law[1:4] %}
        <ul>
            {% if '.html' in msg %}
            <p style="margin-right:3px;font-size:13.5px"><a href="{{ msg }}" target="_blank">{{ msg }}</a></p>
            {% else %}
            <td>{{ msg | safe }}</td>
            <br>
            {% endif %}
        </ul>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}